*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/back.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    border-radius: 50%;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f5a3f5;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transition: translateY(-50);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
    font-style: Garamond;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f5a3f5;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #f5a3f5;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/back.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiper{
    width: 90%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;

}


/*Contact*/
.containerr{
    position: absolute;
    padding-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
  }
  .containerr:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/back.jpg);
    background-size: cover;
    z-index: -1;
    
  }
  .content-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }
  .left{
    height: 100%;
    background: url(img/back3.png) no-repeat center;
    background-size: cover;
  }
  .right{
    padding: 25px 40px;
  }
  h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: rgb(238, 168, 252);
  }
  .field{
    width: 100%;
    padding: 0.5rem 1 rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(250, 230, 230, 0.5);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .field:focus{
    background-color: #fff;
    border: 2px solid rgb(238, 168, 252) ;
  }
  .area{
    min-height: 150px;
  }
  .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: rgb(238, 168, 252);
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
  }
  .btn:hover{
    background-color: #27aa60;
  }